.card {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    box-shadow: 0 0 5px #56a7f1;
}