.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #56a7f1;
    padding: 10px;
    font-size: 14px;
}

.card.single {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card.double {
    min-height: 230px;
    display: grid;
    grid-template-columns: minmax(min-content, 100%);
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    gap: 2px;
}

.card-header {
    position: relative;
}

.favorite-button {
    border: none;
    font-size: 24px;
    width: 24px;
    height: 24px;
    background-image: url(../../img/like.svg);
    background-position: center;
    background-color: #ffffff00;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
  
.favorite-button.active {
    background-image: url(../../img/like__active.svg);
}

