@import url(../../fonts/fonts.css);

.main {
  margin: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'YsabeauOffice';
}

.list {
  align-items: center;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.toggleCard {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0 20px;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0;
  box-shadow: 0 0 5px #56a7f1;
  box-sizing: border-box;
}

.img {
  max-width: 100%;
  align-self: center;
  margin-bottom: 20px;
}

.name {
  margin: 20px 0 20px;
  font-weight: bold;
}

.place {
  margin-bottom: 20px;
}

.data {
  margin-bottom: 20px;
  font-style: italic;
}

.description {
  margin-bottom: 20px;
}

.buttonBack {
  background-color: #56a7f1;
  align-self: center;
  width: 80%;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  min-height: 30px;
  font-family: inherit;
  font-style: italic;
  margin-bottom: 20px;
}